nav > div {
    width: 100%;
    font-family: 'Do Hyeon';
    background-color: #060202;
}

nav div#lowerNav,
nav div#upperNav {
    float: left;
    text-align: center;
    color: white;
}
nav div#lowerNav a {
    float: left;
    padding: 14px 18px;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    outline: none;
    color: white;
    background-color: #060202;
}

nav div#upperNav a {
    float: left;
    padding: 8px 18px;
    border: none;
    text-align: center;
    font-size: 16px;
    outline: none;
    color: white;
    background-color: #060202;
}

nav div#upperNav a:hover,
nav div#lowerNav a:hover {
    color: #020202;
    background-color: #ddd;
}

input#searchbox{
    outline: none;
    border: none;
    margin-top: 10px;
    border-radius: 4px;
    background-color: black;
    text-shadow: none;
    color: white;
}

input#search {
    outline: none;
    border: none;
    margin-top: 10px;
    border-radius: 4px;
    background-color: black;
}

/**************************** SIDE NAV ***************************/

div#side{
    margin: 0.5em;
    float: left;
    background-color: black;
    width:20%;
    text-align:center;
    font-size:23px;
    color: white;
    display: block;
}
div#side a#title{
    float: left;
    text-align: center;
    text-decoration: none;
    color: orange;
    display: block;
}
div#side a{
    float: left;
    text-align: center;
    
    text-decoration: none;
    color: white;
    display: block;
}

div#side a:hover{
    color: orange;
    display: block;
}