nav > div {
    width: 100%;
    font-family: 'Do Hyeon';
    background-color: #060202;
}

nav div#lowerNav,
nav div#upperNav {
    float: left;
    text-align: center;
    color: white;
}
nav div#lowerNav a {
    float: left;
    padding: 14px 18px;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    outline: none;
    color: white;
    background-color: #060202;
}

nav div#upperNav a {
    float: left;
    padding: 8px 18px;
    border: none;
    text-align: center;
    font-size: 16px;
    outline: none;
    color: white;
    background-color: #060202;
}

nav div#upperNav a:hover,
nav div#lowerNav a:hover {
    color: #020202;
    background-color: #ddd;
}