*{
	
}
body {
    display:  flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    min-height: 100%;
    margin: 0;
    font-family: 'East Sea Dokdo';
    color: white;
    background-color: #020202;
}

div#container{
    flex: 1 0 auto;

}

nav div a img {
    margin-top: 6px;
}

div image {
    float: left;
    margin-left: -10px;
}

div button {
    padding: 10px 10px;
    border: none;
    outline: none;
    color: white;
    background-color: #020202;
}

div button:hover {
    background-color: #020202;
}

div#products{
    margin: 0.5em;
    float: left;
    background-color: black;
    /*border-left-style: solid;
    border-left-color: orange;*/
    width:75%;
    height:10%;
    text-align:center;
    font-size:23px;
    color: white;
    display: block;
}

div#products a{
    float: left;
    text-align: center;
    text-decoration: none;
    color: orange;
    display: block;
}

footer {
    width: 100%;
    text-align: center;
    font-size: 15px;
    /*margin-bottom: -50px;*/
    flex-shrink: 0;
}
footer a {
    text-decoration: none;
    color: red;
}

/*************************** FEATURED ************************************/
#product-image img{
            padding:1em;
            width: 180px;
            height: 180px;
}
#over{
            float:left;
            padding-right: 3px;
}