*{
	
}
body {
    width: 100%;
    margin: 0;
    font-family: 'East Sea Dokdo';
    color: white;
    background-color: #3A3939;
}

nav div input {
    margin-top: 8px;
    border-radius: 4px;
    color: #020202;
    background-color: #fff;
    box-shadow: 1px 1px #888;
}

nav div a img {
    margin-top: 6px;
}

div image {
    float: left;
    margin-left: -10px;
}

div button {
    padding: 10px 10px;
    border: none;
    outline: none;
    color: white;
    background-color: #3A3939;
}

div button:hover {
    background-color: #020202;
}
div#pBrand {
	
}
footer {
	position: fixed;
	bottom: 0;
    text-align: center;
    font-size: 25px;
}