    .nav{
        font-family : Arial, Helvetica, sans-seri;
        background-color : #060202;
        overflow : hidden;  
        width : 100%;
        margin-left: -7px;
        margin-top: -10px;

    }
    
    .nav a{
        text-decoration:none;
        padding: 18px 28px;
        color:white;
        text-align:center;
        float:left;
        font-size:16px;
    }

    .dropbtn1{
        margin-top: 0px;
        margin-left: 0px;
        background-color : #12529C;
        padding: 18px 28px;
        color:white;
        text-align:center;
        border:none;
        outline:none;
        font-size:16px;
        
    }
    
    #overlay1,#overlay2,#overlay3,#overlay4,#overlay5,#overlay6,#overlay7 {
        position: fixed;
        display: none;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5);
        z-index: 2;
        cursor: pointer;
    }

    
    .dropbtn:hover{
        background-color:#ddd;
        color:black;
    }

    .text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}
